*.png
*.root
*.bat
*.swp
*.log
*.err
*.out
patchset/*
pdfset/*
pi0cntset/*
study_fill/*
study_runs/*
chisq
corrupted
src/*.so
src/*Dict*
output/*
output_*/*
output_for_spin/*
prelim.root
diag_plots/*.pdf
*.gz
asym_plots/*
wdist_pdfs/*
rptrg15/*.dat
rptrg15/thresh/trgfiles/*
rptrg15/thresh/thfiles/*
debug/*
bbc_evdisp.pdf
evpset
wdist_pdfs/*
bbc_evdi*.pdf
hot_chan.pdf
pi0_bx_dist.pdf
